.dataPointsDashBoardContainer {
  width: 100%;
  margin-top: 131px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.datapointsContainerTemplate {
  width: 90%;
  display: flex;
  justify-content: space-between;
  padding: 8px 0px;
}

.dashBoardTitleContainerTemplate {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.datapointTitleContainer {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: flex-end;
  gap: 10px;
}

.flexRow {
  display: flex;
  justify-content: space-between;
}

.dashBoardTitleContainerTemplate h2 {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  /* line-height: 160%; */
}

.dashBoardTitleContainerTemplate h3 {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  /* line-height: 180%; */
}

.dataPointsDashBoardsearchContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: px;
}

.dataPointsDashBoardsearchContainer form {
  padding: 10px 12px;
  background: #f9f9f9;
  border-radius: 8px;
}
.dataPointsDashBoardsearchContainer form input {
  width: 250px;
  background-color: transparent;
  border: none;
}

.dataPointsDashBoardsearchContainer form input::placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  color: #707070;
}

.dataPointsDashBoardsearchContainer button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.dataPointsDashBoardsearchContainer h3 {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
}

#exportExclusive {
  gap: 25px;
}

#sortExclusive {
  gap: 15px;
}

.sortContainer {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  width: 105px;
  height: 38px;
  background: #fbfbfb;
  border: 1px solid #b8b8b8;
  border-radius: 8px;
}

.sortSelector {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
  gap: 4px;
  cursor: pointer;
  width: 105px;
  height: 38px;
}

.sortSelector img {
  display: block;
  padding: 0px 7px;
}

.DynamicCardContainer {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  padding: 8px 0px;
}

.checkboxContainer {
  width: 5%;
  display: flex;
  justify-content: center;
}

.SelectorContainertemplate {
  display: flex;
  justify-content: space-between;
  width: 90%;
}

.SelectorContainertemplate h3 {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}

.DynamicCardContainer input {
  margin-left: 40px;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border: 1px solid #004cff;
  border-radius: 3px;
}
