@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

.JobStatusContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 90%;
  height: 240px;
}

.jobTitle {
  width: 17%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 56px;
}

.jobTitle h3 {
  /* text */
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 80%;
}

.jobTitle img {
  width: 18.25px;
  height: 18.25px;
}

.StatusContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 20px 20px;
  background: #fbfbfb;
  border-radius: 8px;
}

.InnerStatusContainer {
  display: flex;
  width: 50%;
  height: 60px;
  justify-content: space-between;
}

.typeContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
}

.switch {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  gap: 8px;

  width: 38px;
  height: 30px;
  background: #1a9c61;
  border-radius: 30px;
  color: white;
}

.type {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 12px;
  gap: 8px;
  width: 59px;
  height: 30px;
  background: #f4e5d0;
  border-radius: 8px;
}

.status {
  padding: 8px 12px;
  gap: 8px;
  width: 63px;
  height: 30px;
  background: #389489;
  border-radius: 8px;
}

.lastReading {
  padding: 8px 0px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
}

.downloadIcon {
  padding: 8px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.downloadIcon img {
  width: 20px;
  height: 20px;
}

.dropDownMenuContainer {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  width: 244px;
  height: 38px;
  background: #fbfbfb;
  border: 1px solid #b8b8b8;
  border-radius: 8px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.logSelector {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px 11px;
  gap: 4px;
  cursor: pointer;
  width: 244px;
  height: 38px;
}

.DataPointbuttonsContainer {
  display: flex;
  gap: 25px;
}
